@import url(font.css);

body {
  background-color: #000;
  cursor: url(../assets/cursor.png), auto;
}

img {
  pointer-events: none;
  z-index: 1;
}

/* this below will be the properties of the main menu */
.main-menu {
  background-image: url(../assets/bg.png);
  background-size: cover;
  width: 100vw; height: 100vh; /* entire viewport */
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* splash -> UI element that appears as the initial screen or the loading screen */
.splash {
  left: 0; top: 0; bottom: 0; right: 0;
  position: fixed;
  background-color: #000;
  text-align: center;
  align-items: center;
  z-index: 100;
  animation: fadeOut 250ms linear 4s forwards;
}

/* specifies the fadeOut animation cause the image to drop to 0 opacity */
@keyframes fadeOut {
  from {opacity: 1;} to {opacity: 0;}
}

.splash div .channels {
  width: 68vw;
  height: 72vh;
  display: flex;
  margin: auto;
}

.splash div .tip {
  color: darkgrey;
  font-size: x-large;
  bottom: 10vh; left: 50%;
  transform: translateX(50%);
  font-family: 'Bold';
  opacity: 0.65;
}

/* grid refers to the grid of all channels */
.grid {
  position: relative;
  display: flex;
}

.prev-button {
    position: absolute;
    background-size: 5em;
    top: 37vh; left: 7vw;
    width: 5em; height: 5em;
}

.prev-button img {
    width: 100%; height: 100%;
    object-fit: contain;
}

.next-button {
    position: absolute;
    background-size: 5em;
    top: 37vh; left: 92vw;
    width: 5em; height: 5em;
}

.next-button img {
    width: 100%; height: 100%;
    object-fit: contain;
}

.channel {
  display: grid;
  gap: 10px 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 7vh;
  pointer-events: auto;
}

* {
  pointer-events: none;
  cursor: url(../assets/cursor.png), auto;
}

.channel .channel-occupied {
  position: relative;
  width: 18vw; height: 21vh;
  background-image: url(../assets/channels/channel_frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: transform 0.3s ease, border 0.3s ease;
  border: 0px solid transparent;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: inherit;
}

.channel.channel-occupied.enlarged {
  transform: scale(1.05);
  z-index: 1;
}

.channel .channel-vacant {
  position: relative;
  z-index: 1;
  width: 18vw; height: 21vh;
  background-image: url(../assets/channels/channel_frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  mask-image: url(../assets/channels/channel_mask.png);
  mask-repeat: no-repeat;
  mask-size: 18vw 21vh;
  pointer-events: inherit;
}

.channel .channel-vacant::after {
  position: absolute;
  z-index: 2;
  width: 18vw; height: 21vh;
  content: '';
  opacity: 0.1;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.channel-occupied .channel-info {
    position: absolute;
    background-color: #ebebeb;
    border: 2px solid gray;
    border-radius: 25px;
    padding-left: 10px; padding-right: 10px;
    margin: auto;
    left: 50%; bottom: 0px;
    transform: translate(-50%, 100%);
    width: fit-content; white-space: nowrap;
    text-align: center;
    font-family: 'Regular';
    font-size: xx-large;
    z-index: 100;
    color: gray;
}

.dock {
  position: fixed;
  width: 100vw; height: 22vh;
  left: 40; right: 40; bottom: 0;
  z-index: 100;
  background-image: url(../assets/dock/dock.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.dock .dock-info {
    position: relative;
    width: 100%; height: 100%;
}

.dock .dock-info #time {
    position: absolute;
    font-size: 5em;
    font-family: 'TimeDisplay';
    margin-top: 30px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #636261;
}

.dock .dock-info #date {
    position: absolute;
    font-size: 2.5em;
    font-family: 'Regular';
    text-align: center;
    margin-top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: #636261;
}

/*
@keyframes fadeOutMiiChannel {
  from { opacity: 0.9;} to {opacity: 0.1;}
}

@keyframes fadeInMiiLogo {
  from {opacity: 0;} to {opacity: 1;}
}

.miiChannelAnimation {
  top: 0; left: 0; bottom: 0; right: 0;
}

.miiChannelAnimation .icon1start {
  z-index: 2;
  opacity: 0.7;
  position: fixed;
  width: 26.5vw; height: 37vh;
  animation: fadeOutMiiChannel 3000ms infinite;
  animation-delay: 4s;
  animation-direction: alternate;
}

.miiChannelAnimation .icon2start {
  z-index: 1;
  position: absolute;
  opacity: 0;
  width: 26.5vw; height: 37vh;
  animation: fadeInMiiLogo 3000ms infinite;
  animation-direction: alternate;
}
*/